    body {
        background: #ccd8e4;
    }
    
    form {
        background: #ffffff;
        margin: 0 auto;
        margin-top: 200px;
        text-align: center;
        width: 900px;
    }
    
    input[type="text"] {
        width: 500px;
        margin-top: 100px;
    }
    
    input[type="password"] {
        width: 500px;
        margin-top: 100px;
    }
    
    input[type="number"] {
        width: 500px;
        margin-top: 100px;
    }
    
    input[type="submit"] {
        width: 250px;
        margin-top: 100px;
        margin-bottom: 50px;
    }