* {
    margin: 0;
    padding: 0;
}

body {
    background: #ccd8e4;
}

.container {
    width: 1000px;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
}

.item {
    width: 300px;
    float: left;
    margin-top: 200px;
    margin-right: 50px;
    background-color: #fff;
    margin: 0 auto;
}

.item img {
    text-align: center;
    margin-top: 10px;
    margin: 0 auto;
}

.item p {
    margin-top: 10px;
}

.item h2 {
    margin: 20px 0;
}

a {
    text-decoration: none;
    background-color: #442ef4;
    padding: 10px 50px;
    color: #fff;
}